<div class="w3-container w3-content" style="max-width:1000px;margin-top:20px">
  <div class="w3-row">
    <div class="w3-col ">
        <!-- Left Column -->
        <div class="w3-third">
          <div class="w3-theme-d5 w3-text-white " style="height: 1295px;">
            <div class="w3-display-container">
              <img
                src=".\assets\images\20191130164359_IMG_1363 (2).JPG"
                style="width:100%"
                alt="Avatar"
              />
              <div class="w3-container ">
                <div class="">
                    <h2>Lehi Briggs</h2>
                </div>
              </div>
            </div>
            <div class="w3-container">
              <p>
                <i
                  class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-maroon"
                ></i
                >Software Developer Engineer
              </p>
              <p>
                <i
                  class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >Olympia WA, USA
              </p>
              <p>
                <i
                  class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >Lehibriggs@gmail.com
              </p>
              <p>
                <i
                  class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >+1 (360) 878-7612
              </p>
              <hr />
              <p class="w3-large w3-text-white">
                <b>Programming Languages</b>
              </p>
              <p>C++</p>
              <p>Java</p>
              <p>Python</p>
              <p>HTML</p>
              <p>CSS</p>
              <p>TypeScript</p>
              <br />
              <p class="w3-large">
                <b>Skills</b>
              </p>
              <p>Adobe Photoshop</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-theme-l3"
                  style="width:90%"
                >
                  90%
                </div>
              </div>
              <p>Photography</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-theme-l3"
                  style="width:80%"
                >
                  <div class="w3-center w3-text-white">80%</div>
                </div>
              </div>
              <p>Illustrator</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-theme-l3"
                  style="width:75%"
                >
                  75%
                </div>
              </div>
              <p>Media</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-theme-l3"
                  style="width:50%"
                >
                  50%
                </div>
              </div>
              <br />


            </div>
          </div>
          <br />

          <!-- End Left Column -->
        </div>
        <!-- Right Column -->
        <div class="w3-twothird">
          <div class="w3-container w3-card w3-white w3-margin-bottom" style="height: 1295px;">
            <div class="w3-container">
                <hr class="w3-hr-large"/>
                <h2 class="w3-text-theme "> Resume Summary </h2>
                <p>
                    Consectetur adipisicing elit. Praesentium magnam consectetur vel
                    in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
                    soluta ea et odio, unde doloremque repellendus iure, iste. Consectetur adipisicing elit. Praesentium magnam consectetur vel
                    in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
                    soluta ea et odio, unde doloremque repellendus iure, iste.
                </p>
                <hr class="w3-hr-large"/>
            </div>
            <div class="w3-container">
                <h2 class="w3-text-theme"> Education </h2>
                <h5 class="">
                    <b>Software Engineering Degree</b>
                </h5>
                <h6 class="w3-text-theme">
                    Oregon Institute of Technology
                </h6>
                <h6 >
                    Mar 2012 - Dec 2014
                </h6>
                <hr class="w3-hr"/>
                <h5 class=""><b>Web Developer / something.com</b></h5>
                <h6 class="w3-text-theme">
                    Oregon Institute of Technology
                </h6>
                <h6 class="">
                    Mar 2012 - Dec 2014
                </h6>
                <hr class="w3-hr-large"/>
            </div>
            <div class="w3-container">
                <h2 class="w3-text-theme"> Work Experience </h2>
                <h5 class="">
                    <b>Contractor for RealTimeStrategies</b>
                </h5>
                <h6 class="w3-text-theme">
                    Consectetur adipisicing elit. Praesentium magnam consectetur vel
                    in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
                    soluta ea et odio, unde doloremque repellendus iure, iste.
                </h6>
                <h6 >
                    Mar 2012 - Dec 2014
                </h6>
                <hr class="w3-hr"/>
                <h5 class=""><b>Presidential Assistant at LANFest</b></h5>
                <h6 class="w3-text-theme">
                    Consectetur adipisicing elit. Praesentium magnam consectetur vel
                    in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
                    soluta ea et odio, unde doloremque repellendus iure, iste.
                </h6>
                <h6 class="">
                    Mar 2012 - Dec 2014
                </h6>
                <hr class="w3-hr"/>
                <h5 class=""><b>Web App Developer at Aunt Becky's</b></h5>
                <h6 class="w3-text-theme">
                    Consectetur adipisicing elit. Praesentium magnam consectetur vel
                    in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
                    soluta ea et odio, unde doloremque repellendus iure, iste.
                </h6>
                <h6 class="">
                    Mar 2012 - Dec 2014
                </h6>
                <hr class="w3-hr-large"/>
            </div>
          <!-- End Right Column -->
        </div>
      </div>
  </div>
</div>
